body{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

#input-form{
    text-align: center
}

li{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-row-gap: 1em;
   
}

.complete{
    text-decoration: line-through black;
}

li{
    list-style: none;
}